In [1]:
import pandas 
df1 = pandas.read_csv("https://pythonhow.com/data/income_data.csv")

In [2]:
df1

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [7]:
df2=df1.set_index("GEOID")

In [8]:
df2

,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
GEOID,,,,,,,,,,
04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [ ]:
df2.set_index?

In [9]:
df2.loc["04000US02"]

State    Alaska
2005      55891
2006      56418
2007      62993
2008      63989
2009      61604
2010      57848
2011      57431
2012      63648
2013      61137
Name: 04000US02, dtype: object

In [10]:
df2.loc["04000US02","2005":"2010"]

2005    55891
2006    56418
2007    62993
2008    63989
2009    61604
2010    57848
Name: 04000US02, dtype: object

In [11]:
df2.loc["04000US02","2005"]

55891

In [12]:
list(df2.loc[:,"State"])

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California']

In [13]:
df2.iloc[1:3,1:3]

            2005   2006
GEOID
04000US02  55891  56418
04000US04  45245  46657

In [14]:
df2=pandas.read_json("http://pythonhow.com/supermarkets.json")
df2.ix[2,"State"]

c:\python\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

'California 94114'

In [ ]:
 b