In [2]:
import pandas 
df1 = pandas.read_csv("https://pythonhow.com/data/income_data.csv")

In [3]:
df1

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [6]:
df2=df1.set_index("GEOID")

In [7]:
df2

,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
GEOID,,,,,,,,,,
04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [10]:
df2.set_index?

In [11]:
df2.loc["04000US02"]

State    Alaska
2005      55891
2006      56418
2007      62993
2008      63989
2009      61604
2010      57848
2011      57431
2012      63648
2013      61137
Name: 04000US02, dtype: object

In [12]:
df2.loc["04000US02","2005":"2010"]

2005    55891
2006    56418
2007    62993
2008    63989
2009    61604
2010    57848
Name: 04000US02, dtype: object

In [13]:
df2.loc["04000US02","2005"]

55891

In [16]:
list(df2.loc[:,"State"])

AttributeError: type object 'list' has no attribute 'df2'